.footer {
    @include flex(space-between, center, wrap);
    background: $primary-green;
    padding: 15px;
}

.footer__copyright {
    font-size: 12px;
    color: $primary-white;
}

@include mobile {
    .footer {
        flex-direction: column;
    }
}