.header {
    @include flex(space-between, center, wrap);
    background-color: $primary-blue;
    padding: 30px 25px;
    color: $main-font-color;
    position: fixed;
    height: 80px;
    width: 100%;
    overflow: hidden;
    top: 0;
}

.header__headline {
    font-size: 16px;
    margin-left: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: $main-font-color;
}

.header__logo {
    @include flex(center, center, nowrap);
    text-decoration: none;
}

.header__search {
    @include flex(center, center, nowrap);

    .header__search-headline {
        margin-left: 10px;
        font-weight: 600;
        text-decoration: none;
        color: $main-font-color;
    }
}

.nav {
    width: 30%;
}

.nav__list {
    @include flex(space-between, center, nowrap);
    list-style: none;

    .nav__link {
        text-decoration: none;
        color: $main-font-color;
        font-size: 14px;
    }
}

@include mobile {
    .header {
        padding: 9px 30px;
        flex-direction: column;
        height: 130px;
    }

    .nav {
        width: 95%;
    }
}

@include mobile-up {
    .header {
        padding: 9px 30px;
        flex-direction: column;
        height: 130px;
    }

    .nav {
        width: 80%;
    }
}

@include tablet {
    .nav {
        width: 50%;
    }
}