@mixin main {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: $main-font-family;
    }
}

@mixin flex($justify-content, $align-items, $wrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $wrap;
}

@mixin mobile {
    @media (max-width: $extra_small-mobiles) {
        @content;
    }
}

@mixin mobile-up {
    @media (min-width: $extra_small-mobiles) and (max-width: $s-mobiles) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $s-mobiles) and (max-width: $tablet) {
        @content;
    }
}