// Font-Family
$main-font-family: 'Open Sans',
sans-serif;

// Colors
$primary-blue: #1e5d69;
$secondary-blue: #2d4e54;
$ternary-blue: #0093af;
$primary-green: #1b373c;
$main-font-color: #e1e9eb;
$main-paragraph-color: #666666;
$border-color: #DCDCDC;
$primary-white: #fff;

// Responsive dimensions
$extra_small-mobiles: 576px;
$s-mobiles: 720px;
$tablet: 968px;